.plan-mobile {
  display: none;
}

.plan-mobile-slider-wrap {
  margin: 0 auto;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.plan-mobile-slide-background {
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plan-mobile-slide {
  position: relative;
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.plan-mobile-slide-content {
  z-index: 1;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding-bottom: 10px;
}

.plan-mobile-slide-title {
  color: var(--accent, #4b4a49);
  font-size: 4vh;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

.plan-mobile-slide-text {
  width: 70%;
  color: #8d836b;
  text-align: center;
  font-size: 2.4vh;
  font-style: normal;
  font-weight: 600;
  line-height: 25px; /* 177.778% */
}

@media screen and (max-width: 600px) {
  .plan-mobile {
    margin: 0 auto;
    height: 55vh;
    display: block;
  }
  .plan-mobile-slider-wrap {
    margin: 0 auto;
    height: 500px;
  }

  .plan-mobile-slide-subtitle {
    width: 80%;
    font-size: 20px;
  }
}

@media screen and (max-width: 321px) {
  .plan-mobile-slide-text {
    width: 100%;
    color: #8d836b;
    text-align: center;
    font-size: 3vh;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 177.778% */
  }
}
