.services-more-player {
  width: 100%;
  height: 100%;
}

.services-more-player-wrap {
  margin: 0 auto;
  overflow: hidden;
  width: 90%;
}

.player-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.react-player video {
  border-radius: 25px;
}
