.follow-our-projects-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.follow-our-projects-text-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.follow-our-projects-title {
  color: #292f36;
  text-align: center;
  font-family: DM Serif Display;
  font-size: 5vh;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 62.5px */
  letter-spacing: 1px;
}

.follow-our-projects-text {
  color: #4d5053;
  text-align: center;
  font-size: 2vh;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  letter-spacing: 0.22px;
}

.follow-our-projects-cart-wrap {
  display: grid;
  grid-template-columns: auto auto;
  gap: 50px;
}

.follow-our-projects-cart {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.follow-our-projects-cart h3 {
  color: #292f36;
  font-family: DM Serif Display;
  font-size: 2.3vh;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 0.5px;
}

.follow-our-projects-cart img {
  border-radius: 40px 40px 0px 0px;
  width: 100%;
}

.follow-our-projects-cart-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.follow-our-projects-cart-info-category {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.follow-our-projects-cart-info-category p {
  color: #4d5053;
  font-family: Jost;
  font-size: 2vh;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.22px;
}

.follow-our-projects-cart-info button {
  border: none;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  background-color: #f4f0ec;
  transition: all 0.3s;
}

.follow-our-projects-cart-info button:hover {
  transition: all 0.3s;
  scale: 1.2;
  background-color: #cccccc;
}

.follow-our-projects-cart-info button img {
  width: 60px;
  height: 20px;
}

@media screen and (max-width: 950px) {
  .follow-our-projects {
    display: none;
  }
}
