.counter-total {
  max-width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 300px auto 160px auto;
  display: flex;
  justify-content: center;
}

.counter-total-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 80%;
  height: 100%;
}

.counter-total-wrap-item-text {
  width: 120px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 15px;
  padding: 25px 4px 25px 4px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  background-color: #f4f0ec;
}

.counter-total-wrap-item h5 {
  color: #cda274;
  font-size: 6vh;
  font-style: normal;
  font-weight: 900;
  line-height: 125%; /* 106.25px */
  letter-spacing: 1.7px;

  color: transparent;
  background: #666666;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
}

.counter-total-wrap-item p {
  width: 70%;
  color: #4d5053;
  font-size: 2vh;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  letter-spacing: 0.22px;
}

@media screen and (max-width: 1024px) {
  .counter-total-wrap {
  }
}

@media screen and (max-width: 768px) {
  .counter-total-wrap-item-text {
    width: 100px;
  }
}

@media screen and (max-width: 620px) {
  .counter-total-wrap {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    justify-content: center;
    gap: 60px;
  }
}

@media screen and (max-width: 450px) {
  .counter-total-wrap {
    display: flex;
    flex-direction: column;
  }
}
