.services-heading {
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.services-heading-bg {
  background-image: url("../../../../../public/img/services-page/services-heading-bg.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 25vh;
}

.services-heading-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.services-heading-title h1 {
  position: relative;
  z-index: 3;
  color: #292f36;
  background-color: #fff;
  width: 30%;
  height: 100px;
  padding-top: 20px;
  margin: 0 auto;
  border-radius: 40px;
  top: -80px;
  font-family: DM Serif Display;
  font-size: 5vh;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 62.5px */
}

.services-heading-title h6 {
  position: relative;
  z-index: 3;
  top: -125px;
  color: #4d5053;
  font-family: Jost;
  font-size: 2vh;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  letter-spacing: 0.22px;
}

.services-heading-text-carts {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 60px;
}

.services-heading-text-cart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 0 20px 0;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.services-heading-text-cart:hover {
  padding: 20px 0 20px 0;
  border-radius: 30px;
  background: #f4f0ec;
  transition: all 0.3s ease-in;
}

.services-heading-text-cart h2 {
  color: #292f36;
  text-align: center;
  font-family: DM Serif Display;
  font-size: 2.5vh;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 31.25px */
}

.services-heading-text-cart span {
  width: 95%;
  color: #4d5053;
  text-align: center;
  font-size: 1.8vh;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  letter-spacing: 0.22px;
}

.services-heading-text-cart button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 767px) {
  .services-heading-text-carts {
    display: grid;
    grid-template-columns: auto auto;
    gap: 60px;
  }
}

@media screen and (max-width: 426px) {
  .services-heading-title h1 {
    width: 60%;
  }
}
