.counter-total {
  width: 100%;
  height: auto;
  background-color: #F4F0EC;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 160px auto 160px auto;
  display: flex;
  justify-content: center;
}

.counter-total-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 80%;
  height: 100%;
}

.counter-total-wrap-item-text {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50px;
}

.counter-total-wrap-item h5 {
  color: #cda274;
  font-family: DM Serif Display;
  font-size: 6vh;
  font-style: normal;
  font-weight: 900;
  line-height: 125%; /* 106.25px */
  letter-spacing: 1.7px;

  color: transparent;
  background: #666666;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
}

.counter-total-wrap-item p {
  width: 70%;
  color: #4d5053;
  font-size: 2vh;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  letter-spacing: 0.22px;
}

@media screen and (max-width: 768px) {
  .counter-total {
    width: 100%;
    height: auto;
    background-color: #F4F0EC;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 275px auto 160px auto;
    display: flex;
    justify-content: center;
}
  
}

@media screen and (max-width: 500px) {
  .counter-total-wrap {
    margin-top: 50px;
    margin-bottom: 50px;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
}
