.about-lid-designers {
  margin-top: 110px;
  margin-bottom: 110px;
}

.about-lid-designers-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.about-lid-designers-carts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.about-lid-designers-carts img {
  border-radius: 50px;
}

.lid-designers-cart {
  width: 30%;
  height: 60%;
}

.lid-designers-cart img {
  width: 100%;
  height: 100%;
}

.column-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
}

.column-social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
