* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "DM Serif Display", sans-serif;
}

.container {
  text-align: center;
  margin: 0 auto;
  max-width: 80%;
}

@font-face {
  font-family: "DM Serif Display";
  src: url(./fonts/DMSerifDisplay-Regular.ttf) format("trutype");
}

@font-face {
  font-family: "DM Serif Display Italic";
  src: url(./fonts/DMSerifDisplay-Italic.ttf) format("trutype");
}

@font-face {
  font-family: "jost";
  src: url(./fonts/Jost-VariableFont_wght.ttf) format("trutype");
}

@font-face {
  font-family: "jost italic";
  src: url(./fonts/Jost-Italic-VariableFont_wght.ttf) format("trutype");
}

@media screen and (max-width: 426px) {
  .container {
    overflow: hidden;
    margin: 0 auto ;
    max-width: 95%;
  }
}
