* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Times New Roman', Times, serif;
}

p,
span,
a,
li,
button {
  font-family: "Montserrat", sans-serif;
}

.container {
  text-align: center;
  margin: 0 auto;
  max-width: 80%;
}

@font-face {
  font-family: "DM Serif Display";
  src: url(./fonts/DMSerifDisplay-Regular.ttf) format("trutype");
}

@media screen and (max-width: 426px) {
  .container {
    overflow: hidden;
    margin: 0 auto;
    max-width: 95%;
  }
}
