.about-us-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.about-us-wrap-cart-one {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.about-us-wrap-cart-one h6 {
  text-align: left;
  color: #4d5053;
  font-size: 5.2vh;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  letter-spacing: 0.22px;
}

.about-us-wrap-cart-one p {
  text-align: justify;
  color: #4d5053;
  font-size: 2.2vh;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  letter-spacing: 0.22px;
}

.about-us-wrap-call-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.about-us-button-call {
  background-color: transparent;
  border: none;
  justify-content: left;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.about-us-button-call:hover {
  transition: all 0.3s ease-in-out;
  scale: 1.2;
}

.about-us-wrap-call-text {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.about-us-wrap-call-text a {
  text-decoration: none;
  color: #4d5053;
  font-size: 2.2vh;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 36px */
  letter-spacing: 0.24px;
}

.about-us-wrap-call-text span {
  color: #4d5053;
  font-size: 2.2vh;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  letter-spacing: 0.22px;
}

.about-us-button-get-started {
  width: 240px;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 26px 26px 26px 30px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 18px;
  background-color: #292f36;
  box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
  transition: all 0.3s ease-in-out;
}

.about-us-button-get-started:hover {
  scale: 1.1;
  transition: all 0.3s ease-in-out;
}

.about-us-button-get-started p {
  width: 90%;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 22.5px */
  letter-spacing: 0.36px;
}

.about-us-button-get-started p:hover {
  color: #ebe097;
  transition: all 0.3s ease-in-out;
}

.about-us-button-get-started img {
  width: 15px;
  height: 13px;
}

.about-us-wrap-cart-two {
  width: 50%;
  height: 80vh;
}

.about-us-wrap-cart-two img {
  width: 100%;
  height: 100%;
  border-radius: 0px calc(350px * 0.6) 0px 120px;
  background: #c4c4c4;
  box-shadow: 15px 5px 45px 30px #c4c4c4;
}

@media screen and (max-width: 971px) {
  .about-us-wrap-cart-one {
    gap: 25px;
  }
  .about-us-wrap-cart-one h6 {
    font-size: 3.2vh;
  }

  .about-us-wrap-cart-two {
    height: 60vh;
  }
}

@media screen and (max-width: 830px) {
  .about-us {
    display: none;
  }
}
