.about-us-mobile {
  display: none;
}

.about-us-wrap-mobile {
  overflow: hidden;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 65vh;
  background-image: url(../../../../public/img/about-us-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px 50px 10px 50px;
}

.about-us-wrap-cart-mobile {
  width: 60%;
  height: 70%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-radius: 0px 0px 40px 40px;
  box-shadow: inset 0px 0px 30px 20px #ffffff;
  background: linear-gradient(
    360deg,
    rgb(255, 255, 255) 40%,
    rgba(0, 0, 0, 0) 100%
  );
}

.about-us-wrap-cart-mobile-title {
  width: 80%;
  text-align: center;
  color: #4d5053;
  font-size: 4.2vh;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  letter-spacing: 0.22px;
}

.about-us-wrap-cart-mobile-text {
  width: 60%;
  text-align: center;
  color: #4d5053;
  font-family: Jost;
  font-size: 2.2vh;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  letter-spacing: 0.22px;
}

.about-us-wrap-call-wrap-mobile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.button-call-mobile {
  background-color: transparent;
  border: none;
  justify-content: left;
}

.about-us-wrap-call-text-mobile {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.about-us-wrap-call-text-mobile a {
  text-decoration: none;
  color: #4d5053;
  font-family: Jost;
  font-size: 2.2vh;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 36px */
  letter-spacing: 0.24px;
}

.about-us-wrap-call-text-mobile span {
  color: #4d5053;
  font-family: Jost;
  font-size: 2.2vh;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  letter-spacing: 0.22px;
}

.button-get-started-mobile {
  width: 240px;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 26px 26px 26px 26px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 18px;
  background-color: #292f36;
  box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
  transition: all 0.2s linear;
}

.button-get-started-mobile:hover {
  transition: all 0.1s linear;
  scale: 1.1;
}

.button-get-started-mobile p {
  width: 90%;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 22.5px */
  letter-spacing: 0.36px;
}

.button-get-started-mobile img {
  width: 15px;
  height: 13px;
}

@media screen and (max-width: 830px) {
  .about-us-mobile {
    display: block;
  }
}

@media screen and (max-width: 426px) {
  .about-us-wrap-cart-mobile {
    width: 80%;
  }
  .about-us-wrap-cart-mobile-title {
    text-align: center;
    color: #4d5053;
    font-family: dm-serif-display;
    font-size: 3vh;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 33px */
    letter-spacing: 0.22px;
  }

  .button-get-started-mobile p {
    width: 90%;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 22.5px */
    letter-spacing: 0.36px;
  }

  .button-get-started-mobile {
    border-radius: 40px;
    padding: 20px 20px 20px 20px;
  }
}
